.control-section-automobile-hub h3.accordion-section-title {
    background: #fdb719 !important;
    color: #212121 !important;
}
a.button.button-secondary.alignright{
    background: #212121;
}
.actions {
    margin-top: 4em !important;
    margin-bottom: 3em !important;
}